
body{
   margin:0 ;
   padding-bottom:120px;
   position: relative;
   font-family: Inter,sans-serif;

}

header{
    background-color: #F55A5A;
    display: flex;
    color:white;
  
    font-family: Inter,sans-serif;
    font-weight: 400; 
    position: relative;
    padding-left:50px;
    
}



.head-h1{
    position: absolute;
    top:10px;
    left:170px;
}

.div1{
    position: relative;
}
.Entry-facts{
position: absolute;
top:90px;
left:460px;

font-weight:400;
font-size:1rem;
display:flex;
flex-direction: column;
gap:3px;
}

p{
    margin-top:0px;
    margin-bottom:0px;
}


.fuji-image{
    padding-top:60px;
    padding-left:160px;
    margin-bottom:29px;
   
    
}




.fuji-link{
    position: absolute;
    left:128px;
    top:12px;
}

.Entry-country{
    position: absolute;
    left:30px;
    top:13px;
}

.div2{
    position: relative;
}

.sydney-link{
    position: absolute;
    top:12px;
    left:128px;
}


