body{
  font-family: "Inter",sans-serif;
position:relative;
background-color:#F8FAFC;
margin: 0%;
background-image:url('./components/favicon.svg');
background-repeat: no-repeat;
background-size: 200px;
background-position:right 200px ;
z-index: -2;
}


.nav-image{
position:absolute;
left:150px;
top:20px;
}

.Nav li{
  position: absolute;
  list-style:none;
  left:280px;
  font-weight:700;
  font-size:2.2em;
  color:#f3f8f8;
  text-shadow: none;
}



.heading{
  font-weight:600 ;
  position: absolute;
  top:150px;
  left:170px;
  
   
  
}

.Nav{

  border:1px solid black;
  height:80px;
  width:100%;
  padding-top:15px;
  padding-bottom:5px;


  background: linear-gradient(135deg,#5d30ab,#346fce);
}

.ul-list{
  position:absolute;
  top:220px;
  left:170px;
  font-size:1.2rem;
  font-weight:400;
  display: flex;
  flex-direction: column;
  margin-block:30px;
  gap:20px;
  
}
